doctype html
head
    title Scholar - Sign Up
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet' href='resources/index.css')
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
body
nav.navbar.navbar-light.bg-light.navbar-expand-sm
    a.navbar-brand(href='/ ') Scholar
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-list-3' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    #navbar-list-1.collapse.navbar-collapse.justify-content-between
        ul.navbar-nav
            li.nav-item.dropdown
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Features
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                    a.dropdown-item(href='/features #f1') f1
                    a.dropdown-item(href='/features #f2') f2
                    a.dropdown-item(href='/features #f3') f3
                    a.dropdown-item(href='/features #f4') f4
                    a.dropdown-item(href='/features #f5') f5
    #navbar-list-2.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/signup') Sign Up
    #navbar-list-3.collapse.navbar-collapse.justify-content-between
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/login') Login
                